.header {
  background-color: '#2196F3';
  padding: 12px 10px;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}

.header-bar {
  background-color: #222832 !important;
  padding: 10px 20px !important;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-logo {
  flex-grow: 1;
}

.header-logo > img {
  display: none;
  width: 40px;
  height: 40px;
}

.header-logo svg {
  width: 244px;
}
.user-profile {
  width: 50px;
  height: 50px;
}
.user-profile svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header-bar .logout-button {
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none !important;
}
.header-bar .logout-button:hover {
  border: 1px solid #ea5a28 !important;
}

@media screen and (max-width: 767px) {
  .header-logo svg {
    width: 180px;
    display: none;
  }

  .header-logo > img {
    display: block;
    width: 40px;
    height: 40px;
  }
}
