.form-div > div > div.unsetBoxShadow {
  box-shadow: unset !important;
}

.response-message {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  color: #18438d;
}
