.user-update-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-update-form > form {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px -5px #000000;
  position: relative;
}

.user-update-form > form > header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-update-form > form .btn-update {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 25px;
  background-color: #ea5a28;
  color: white;
  margin: 10px auto 0 auto;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 101.77px;
  height: 35px;
}

button.btn-update > img {
  display: inline-block;
  width: 20px;
  filter: brightness(1.5);
  height: 20px;
}

.user-update-form > form .btn-update:hover {
  background-color: #222832;
}

.user-update-form > form > div > input {
  padding: 10px;
  border: 1px solid gray;
  min-width: 300px;
}

.user-update-form > form > svg {
  fill: #fff !important;
  position: absolute;
  width: 24px;
  background-color: #ea5a28;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}
.user-update-form > form > svg:hover {
  background-color: #222832;
}
